<center>
<img style="float: center;" src="images/CI_horizontal.png" width="400">
</center>
<center>
    <span style="font-size: 1.5em;">
        <a href='https://www.coleridgeinitiative.org'>Website</a>
    </span>
</center>

<center> Joshua Edelmann, Rukhshan Mian, Benjamin Feder </center>
<a href="https://doi.org/10.5281/zenodo.6407277"><img src="https://zenodo.org/badge/DOI/10.5281/zenodo.6407277.svg" alt="DOI"></a>

# Imputation, Outcome Measurement, and Inference 

## Introduction

What should you do when you encounter missing values in your data? Unfortunately, there is usually no *right* answer. However, different decisions on how to address missing values can have different implications on the inferences you draw from any analysis. One option is to omit observations that have missing values, but you may also choose to retain all observations and instead impute these missing values using various techniques. Imputation provides your best guess for each missing point's true value. Here, you will learn how to implement common imputation methods for missing data and how those methods affect outcome measures and inferences.

### Learning Objectives

* Explore options for imputing missing values

* Visualize estimate changes following imputation


In this notebook, you will focus on 2015-16 Tennessee graduates' earnings during their first year after graduation. The notebook provides demonstrations using the first quarter after graduation and you will replicate using the fourth quarter. Recall that in the Data Exploration: Wages notebook, you initially examined the earnings distribution for all members of this cohort who had positive earnings in this time period in Tennessee. To evaluate the earnings outcomes of all 2015-16 Tennessee graduates, you need to decide what to do when you cannot find their earnings in the Tennessee Unemployment Insurance (UI) wage records. A person may not appear in Tennessee's UI wage records for several reasons:
- The person is unemployed. 
- The person is out of labor force, e.g., schooling, childcare, etc...
- The person was employed outside of Tennessee.
- The person's job is not covered in UI wage records, e.g.,self-employed, independent contractors, federal government works, etc. <a href='https://www.nap.edu/read/10206/chapter/11#294'>(Hotz and Scholz, 2002)</a>

You will explore the resulting earnings outcomes after applying different earnings imputation methods. The methods covered in this notebook include:
- Dropping all "missing" values
- Filling in zero for people who do not have records in Tennessee UI wage records data 
- Substituting missing values with the average earnings of people who are in the same degree fields and have the same gender
- Regression imputation
- Adding in Ohio, Kentucky, and Missouri UI wage records for the cohort in question

## R Setup and Server Connection

Before you begin, you need to run the code cells below to import the libraries and connect to the proper server.

In [ ]:
# Database interaction imports
library(odbc, warn.conflicts=F, quietly=T)

# For data manipulation/visualization
library(tidyverse, warn.conflicts=F, quietly=T)

# For faster date conversions
library(lubridate, warn.conflicts=F, quietly=T)

# Use percent() function
library(scales, warn.conflicts=F, quietly=T)

#### **Establish a Connection to the Server**

Now, we are ready to connect to the server. We will create the connection using the `DBI`  and `ODBC` libraries. 

> **Loading R libraries** and **establishing connection** should always be the first step in your Jupyter Notebooks. Make sure you copy these code chunks when you create a new notebook.

In [ ]:
# Connect to the server
con <- DBI::dbConnect(odbc::odbc(),
                     Driver = "SQL Server",
                     Server = "msssql01.c7bdq4o2yhxo.us-gov-west-1.rds.amazonaws.com",
                     Trusted_Connection = "True")

## Brief Manipulation: Isolating Earnings during first quarter after graduation

Before we start performing imputation, we need to do some quick data manipulation to isolate earnings from the first quarter after each individual's graduation. To do so, using the same approach as we did in the Data Exploration: Wages notebook, we will create a new column, `quarter_number`, to track the quarter after graduation by taking the difference between `job_date` and `grad_date` then dividing by 13 and rounding to the nearest whole number.

In [ ]:
# read in earnings table
qry <- "
SELECT * 
FROM tr_tn_2021.dbo.nb_cohort_wages_link;
"

df_wages <- dbGetQuery(con, qry)

In [ ]:
# add in quarter number
df_wages <- df_wages %>%
    mutate(
        quarter_number = round(as.double(difftime(as.Date(job_date), as.Date(grad_date), units = "weeks")/13), 0)
    )

# see evidence
df_wages %>%
    select(grad_date, job_date, quarter_number) %>%
    head()

Now, we can simply create a data frame with limited to first quarter post-graduation wages using `filter()`.

In [ ]:
# Filter quarter 1 after graduation
q1_wages <- df_wages %>%
    filter(quarter_number == 1)

Because we will want to estimate the total earnings for each `SSN` in this quarter, not necessarily their wages per employer, let's aggregate `q1_wages` to find the total earnings for each member of this cohort in the entire quarter.

In [ ]:
# get total earnings in quarter
q1_wages <- q1_wages %>%
    group_by(SSN) %>%
    summarize(tot_wages = sum(wge_amt)) %>%
    ungroup()

In [ ]:
# number of graduates with positive earnings
q1_num <- q1_wages %>%
    summarize(
        n=n_distinct(SSN)
    )

cat('The total graduates with positive earnings during their first quarter after graduation:', q1_num$n)

We can now compare the total graduate with positive earnings with the full cohort.

In [ ]:
# read in cohort
qry <- "
SELECT * 
FROM tr_tn_2021.dbo.grads1516_dated;
"

df <- dbGetQuery(con, qry)

In [ ]:
cat('The total number of graduates with positive earnings during their first quarter after graduation is', percent(q1_num$n/nrow(df), .01), 'of the study cohort.')

### Checkpoint 1: Identifying Earnings in the Fourth Quarter after Graduation

Given the code above, create a data subset `q4_wages` that contains all earnings for the cohort in their fourth quarter after graduation. How many members of our cohort had positive earnings in this quarter? Do you expect this number to be higher or lower than the number in the first quarter?

In [ ]:
# replace __ in the code below with the appropriate quarter
# filter by quarter number 4
q4_wages <- df_wages %>%
    filter(quarter_number == __)

# replace __ in the code below with the appropriate function
# grouping by SSN and summing wages
q4_wages <- q4_wages %>%
    ___(SSN) %>%
    summarize(tot_wages = sum(wge_amt)) %>%
    ungroup()

# replace __ in the code below with the appropriate variable
# count total number of distinct SSN
q4_num <- __ %>%
    summarize(n=n_distinct(SSN))

cat('The total graduates with positive earnings during their fourth quarter after graduation:', q4_num$n)
cat('\nThat is', percent(q4_num$n/nrow(df), .01), 'of the study cohort.')

## Add graduates without positive earnings for Q1

Our current data frame, `q1_wages`, only contains individuals with positive earnings in their first quarter after graduation in Tennessee. Let's add in members of our cohort who did not appear in Tennessee's wage records during this time period, as well the additional variables from the original cohort table to better describe the individuals. This will let us conduct different imputation methods on the cohort's earnings in their first quarter after graduation as we progress throughout this notebook.

We can add in those with missing wages by using a `left_join()` of the original cohort, `df`, to `q1_wages`, as this will add in one row for each `SSN` in the original cohort that was not included in `q1_wages`.

In [ ]:
# add grads without positive earnings
q1_all_wages <- df %>%
    left_join(q1_wages, c("SSN"))

As a quick check, we can see if the number of individuals in `q1_all_wages` that have wages is equal to the total number of individuals in the cohort that were in `q1_wages`. We can do this by adding in an indicator variable, `wage_ind`, if the `wages` column was null for each potential wage record in `q1_all_wages`, and then counting the number of distinct individuals based on this new variable.

In [ ]:
# employment outcomes for all of those in our original cohort
q1_all_wages %>%
    mutate(wage_ind = ifelse(is.na(tot_wages), 'no', 'yes')) %>%
    group_by(wage_ind) %>%
    summarize(n=n_distinct(SSN))

In [ ]:
q1_num$n

We can see that these numbers make sense. If they did not add up, chances are there was an issue with the details of your join.

Just to confirm, we can check to see if the number of rows in `q1_all_wages` is equal to the number of rows in `df`, the original cohort, as each individual in the original cohort should correspond to a single row regardless of employment status.

In [ ]:
nrow(df) == nrow(q1_all_wages)

Let's also check to see if we have any missing values for our demographic variables. If so, let's fill these in as `unknown` so they won't be dropped in future analyses.

In [ ]:
# see number of na values by column
colSums(is.na(q1_all_wages))

In [ ]:
q1_all_wages<-q1_all_wages %>%
    replace_na(list(
        Gender = 'U',
        BirthYear ='U'
    )
              )

# see na distribution now
colSums(is.na(q1_all_wages))

> Theoretically, you could apply these imputation methods to these missing demographic values. However, for the purposes of this notebook, we will focus our imputation techniques on missing earnings values.

### Checkpoint 2: Replicate for Q4 ###

Create a data frame `q4_all_wages` that mirrors `q1_all_wages` except for Q4. Feel free to add in as many code cells as you deem necessary.

In [ ]:
# replace __ in the code below with the appropriate word
# add grads without positive earnings

q4_all_wages <- df %>%
   ___(q4_wages, c("SSN"))

# see number of na values by column
colSums(is.na(____))


# for each variable with missing data fill in with unknown, as shown above. 

q4_all_wages<-q4_all_wages %>%
    replace_na(list(
        ___ = 'U',
        ___ ='U'
    )
              )

# see na distribution now
colSums(is.na(q4_all_wages))

## Impute Wage Values

Now that we have confirmed that our `q1_all_wages` dataframe is ready to use for testing our imputation methods, we can get started. To recall, here are the five methods we will be trying out in this notebook:
1. Dropping all people with "missing" values on the variable of interest (Q1 wages)
2. Filling in zero for people who do not have records in Tennessee UI data
3. Filling in missing values with the average Tennessee UI earnings of people who are in the same degree fields and have the same gender
4. Regression
5. Adding in Ohio, Kentucky, and Missouri UI wage records for the cohort in question

### 1. Drop All Missing Values

First, let's look at the earnings outcomes during first quarter after graduation when we drop all missing earnings values. Here, by ignoring potentially non-missing values, we are hoping that they mirror the same distribution as the present one. Although this is fairly common, you should **never, ever, ever** use this method in practice. 

> Deleting missing values is often called listwise deletion and essentially assumes that missing values are missing completely at random (MCAR). For a scholarly treatment of this issue, see (amongst others): 
> - Rubens (1976) "Inference and Missing Data" for the initial presentation, or
> - Peugh and Enders (2004) "Missing Data in Educational Research: A Review of Reporting Practices and Suggestions for Improvement" for a more recent discussion.

In [ ]:
# drop missing values
q1_no_missing <- q1_all_wages %>% 
    filter(!is.na(tot_wages))

In [ ]:
# see earnings distribution
summary(q1_no_missing$tot_wages)

#### Checkpoint 3: Replicate for Q4

What does the earnings distribution look like for Q4 when you drop missing values?

In [ ]:
# replace __ with the appropriate variable
# drop missing values
q4_no_missing <- ___ %>% 
    filter(!is.na(tot_wages))

# see earnings distribution
summary(q4_no_missing$tot_wages)

### 2. Fill in Missing Values with Zero

Next, let's see how the earnings distribution shifts when we encode all missing earnings outcomes as 0. Here, we are assuming that all missing earnings are due to unemployment.

In [ ]:
# fill all null tot_wages with 0
q1_wages_zero <- q1_all_wages %>%
    mutate(tot_wages = ifelse(is.na(tot_wages), 0, tot_wages))

In [ ]:
# Take a look at the distribution. How does it vary from the distribution you get in method 1?
summary(q1_wages_zero$tot_wages)

In [ ]:
cat('Average earnings if missing wages are dropped is $', round(mean(q1_no_missing$tot_wages), 2), sep = '', '.')

cat('\nAverage earnings if missing wages are imputed as 0 is $', round(mean(q1_wages_zero$tot_wages), 2), sep = '', '.')

#### Checkpoint 4: Replicate for Q4 ####

What does the earnings distribution look like for Q4 when you fill missing values with zero?

In [ ]:
# replace __ with the appropriate function
# fill all null tot_wages with 0

q4_wages_zero <- q4_all_wages %>%
    mutate(tot_wages = ifelse(___(tot_wages), 0, tot_wages)) 
summary(q4_wages_zero$tot_wages)

# Take a look at the distribution. How does it vary from the distribution you get in method 1?
cat('Average earnings if missing wages are dropped is $', round(mean(q4_no_missing$tot_wages), 2), sep = '', '.')
cat('\nAverage earnings if missing wages are imputed as 0 is $', round(mean(q4_wages_zero$tot_wages), 2), sep = '', '.')

### 3. Fill in Missing Values with Major/Gender Mean Earnings

Now, instead of either ignoring missing values or assuming the earnings are 0, we will try imputing missing earnings for each individual as the average quarterly earnings of the other individuals in our cohort of the same `Gender` and `CIP_Family`.

Here, our strategy is as follows:
- Using populated wages, find mean earnings for each major by gender
- Merge the mean earnings, based on major and gender, to the overall cohort
 - Create an additional column `mean_wages`
- Recode so that missing values are populated with mean earnings
 - Store data in a new column `imputed_wages`


>Note: This process is frequently termed mean imputation. Implementing this method will compress the variance and covariance of the imputed variable, resulting in biased parameter estimates for all parameters except the mean (Peugh & Enders, 2004, p.529). In this example, we are assuming that the missing values in wages are conditional on both gender and major. We also assume that the missingness is not truly indicative of lack of wages.

In [ ]:
# mean earnings by gender/CIP_Family
q1_all_wages %>%
    group_by(Gender, CIP_Family) %>%
    summarize(mean_wages = mean(tot_wages, na.rm=T)) %>%
    head()

In [ ]:
#mean earnings by gender/CIP_Family
q1_major_gend <- q1_all_wages %>%
    group_by(Gender, CIP_Family) %>%
    summarize(mean_wages = mean(tot_wages, na.rm=T)) %>%
    ungroup()

We will now merge the two data frames, `q1_major_gend` and `q1_all_wages` using `inner_join`. Here, we are adding in the imputed wages from `q1_major_gend` to the data frame `q1_all_wages`
> Note: `left_join()` would also work in this case.

In [ ]:
# see if join works
q1_all_wages %>%
    inner_join(q1_major_gend, by=c('Gender', 'CIP_Family')) %>%
    head()

In [ ]:
# save join results to q1_joined_major_gend
q1_joined_major_gend <- q1_all_wages %>%
    inner_join(q1_major_gend, by=c('Gender', 'CIP_Family'))

We can add a new column to `q1_joined_major_gend` to include the mean wage, based on gender and major, *if* the individual did not appear in the Tennessee UI wage records data.

In [ ]:
# see if mutation works as designed
q1_joined_major_gend %>%
    mutate(imputed_wages = ifelse(is.na(tot_wages), mean_wages, tot_wages)) %>%
    select(tot_wages, mean_wages, imputed_wages) %>%
    head()

In [ ]:
# save mutation to q1_major_gend_impute
q1_major_gend_impute <- q1_joined_major_gend %>%
    mutate(imputed_wages = ifelse(is.na(tot_wages), mean_wages, tot_wages))

In using this method, there is a chance we cannot impute missing values for all individuals in the cohort. If `imputed_wages` is still `NA`, we can assume there were no individuals in the cohort with non-missing earnings with the same major/gender combination.

In [ ]:
# see if any still don't have imputed earnings
q1_major_gend_impute %>%
    filter(is.na(imputed_wages)) %>%
    summarize(n=n())

It appears we do not have available earnings for every combination of gender and primary degree.

In [ ]:
# see distribution
summary(q1_major_gend_impute$imputed_wages)

In [ ]:
cat('Average earnings if missing wages are dropped is $', round(mean(q1_no_missing$tot_wages), 2), sep = '', '.')

cat('\nAverage earnings if missing wages are imputed as 0 is $', round(mean(q1_wages_zero$tot_wages), 2), sep = '', '.')

cat('\nAverage earnings if missing wages are imputed using major/gender means earnings is $', round(mean(q1_major_gend_impute$imputed_wages, na.rm=TRUE), 2), sep = '', '.')

#### Checkpoint 5: Replicate for Q4 ####

Impute missing earnings values as the mean earnings of individuals in the cohort with the same gender (`Gender`) and degree designation (`CIP_Family`) in quarter 4. What does the earnings distribution look like? For how many individuals could you not impute values using this method?

In [ ]:
# fill in __ with appropriate variables 


#mean earnings by gender/kpeds_major1 grouping saved
q4_major_gend <- q4_all_wages %>%
    group_by(___, ___) %>%
    summarize(mean_wages = mean(tot_wages, na.rm=T)) %>%
    ungroup()


# save join results to q1_joined_major_gend
q4_joined_major_gend <- q4_all_wages %>%
    _____(q4_major_gend, by=c('Gender', 'major_title'))

# save mutation to q1_major_gend_impute
q4_major_gend_impute <- q4_joined_major_gend %>%
    mutate(imputed_wages = ifelse(____(tot_wages), mean_wages, tot_wages))



# see if any still don't have imputed earnings
q4_major_gend_impute %>%
    ____(is.na(imputed_wages)) %>%
    summarize(n=n())
q4_major_gend_impute <- q4_major_gend_impute %>% drop_na()

# see earnings distribution
summary(q4_major_gend_impute$imputed_wages)

cat('Average earnings if missing wages are dropped is $', round(mean(q4_no_missing$tot_wages), 2), sep = '', '.')

cat('\nAverage earnings if missing wages are imputed as 0 is $', round(mean(q4_wages_zero$tot_wages), 2), sep = '', '.')

cat('\nAverage earnings if missing wages are imputed using major/gender means earnings is $', round(mean(q4_major_gend_impute$imputed_wages, na.rm=TRUE), 2), sep = '', '.')

### 4. Regression imputation

We can also use regression to try to get more accurate imputed earnings. We will build a regression equation from the obervations for which we know the earnings, then use the equation to predict the missing earnings values. This is, in effect, an extension of the mean imputation by subgroup. Here, we will use information of graduates such as birth year, gender, major, and time of graduation as input variables to build out the regression.
> Note: We will not be checking the assumptions associated with linear regressions, as this example is aimed at merely displaying how to use a linear regression for imputation. If you plan on using regression imputation, please check all assumptions before employing a predictive model.

In [ ]:
# subset to variables included in regression analysis
q1_reg <- q1_all_wages %>%
    select(SSN, tot_wages, BirthYear, Gender, CIP_Family, grad_date)

For ease of interpreting the linear regression results, we will filter for the top 5 majors and then group all other majors together.

In [ ]:
# finding top 5 majors
top_5_majors <- q1_reg %>%
    count(CIP_Family) %>% 
    arrange(desc(n)) %>%
    head(5)

top_5_majors

In [ ]:
# creating an additional column with the top 5 majors and all others assigned to other.

q1_reg <- q1_reg  %>%
    mutate(
        major_group = ifelse(q1_reg$CIP_Family %in% top_5_majors$CIP_Family, CIP_Family, "Other")
    ) %>%
    select(-CIP_Family)

In this case, it may make sense for `BirthYear` to be a numeric variable rather than a character vector, as there may be some predictive power in numerically analyzing the ages of the graduates. Let's change `BirthYear` to a `numeric` variable.

> As you saw above, there are a few individuals in the cohort with an unknown birthdate, so they will not be included in the predictive portion of this analysis.

In [ ]:
# convert birthyear to numeric
q1_reg <- q1_reg %>%
    mutate(
        BirthYear = as.numeric(BirthYear)
    )

nrow(q1_reg)

> Note: NAs introduced by coercion means when we change `BirthYear` from a character vector to a numeric variable, R forced all `BirthYear` values that equal 'U' to equal NA. (Previously, we recoded all missing values to equal 'U'). This is because R did not know how turn the 'U' value into a numeric variable.

In [ ]:
q1_reg %>% summary()

We need to filter out all `BirthYear` values that are NA.

In [ ]:
q1_reg <- q1_reg %>% 
    filter(!is.na(BirthYear))
nrow(q1_reg)

> Note: In this example, all instances where `BirthYear` is unknown `Gender` is unknown as well. Because of this you will not see any `U` in `Gender` when looking at coefficients.

Here, we are creating two data frames to predict the missing wages. `q1_wages_na` is the data frame that we need to predict wages for and `q1_wages_pred` is the data frame that is used to create the linear regression.

In [ ]:
q1_wages_na <- q1_reg %>%
    filter(is.na(tot_wages)) %>%
# don't need tot_wages because they are null 
    select(-c(tot_wages))

# removing NAs from tot_wages
q1_wages_pred <- q1_reg %>%
    filter(!is.na(tot_wages))

The model creation process for a linear regression can be done using the `lm()` function. The variable we are trying to predict is on the left-hand side of `lm()` before the `~`, and the predictors are all of the variables on the right-hand side of the `~`.

In [ ]:
# run model and fit coefficients
q1_wages_model <- lm(tot_wages ~ BirthYear + Gender + major_group, data = q1_wages_pred)

In [ ]:
# see model summary
summary(q1_wages_model)

Part of regression-based imputation is to evaluate your model for any unusual relationships. Examining the above result suggets that younger graduates tend to earn less, males tend to earn more, and engineering majors and health professionals earn more than the comparison group (business management) while the other major grouping earns less. While there is certainly more we could add to inform this model the sign of these coefficients make theoretical sense.

Now that we have fit coefficients for each of the predictors in the model, we can predict the `tot_wages` variable for the missing data using `predict()`.

In [ ]:
# predict earnings
pred_earnings <- data.frame(tot_wages = predict(q1_wages_model, newdata=q1_wages_na))

In [ ]:
head(pred_earnings)

Because the output for `predict()` retains the same order of rows from `q1_wages_na`, we can add the `tot_wages` variable from `pred_earnings` into the existing `q1_wages_na` data frame.

In [ ]:
# see updated data frame with predicted earnings
cbind(q1_wages_na, pred_earnings) %>% 
    head()

In [ ]:
# save updated data frame with predicted earnings
q1_wages_na_w_earnings <- cbind(q1_wages_na, pred_earnings)

Finally, before we can see the effects of the imputation method, we need to combine our data frame `q1_wages_pred`, which already has `tot_wages`, with our data frame `q1_wages_na_w_earnings` and its predicted `tot_wages`.

In [ ]:
# combine the q1_wages_na_w_earning and q1_wages_pred
rbind(q1_wages_na_w_earnings, q1_wages_pred) %>% 
    head()

In [ ]:
# save the combined dataframes
q1_reg_earnings <- rbind(q1_wages_na_w_earnings, q1_wages_pred)

Now we can see the entire earnings distribution for the cohort after applying regression imputation.

In [ ]:
# see earnings distribution for full cohort
summary(q1_reg_earnings$tot_wages)

In [ ]:
# see earnings distribution for imputed portion of cohort
summary(q1_wages_na_w_earnings$tot_wages)

### 5. Add in Ohio, Kentucky, and Missouri UI data

Finally, let's see how the earnings distribution changes when we add in some bordering states' UI wage records. We will leverage wage records from Ohio, Missouri, and Kentucky to find earnings in these states for members of our cohort. From there, we can combine the tables and analyze the resulting changes to the overall earnings distribution. 

Recall that in the `2.Data_Exploration_Wages` notebook, we already found wage records for those in our cohort in Kentucky. The resulting data frame has been saved as the permanent table `ky_cohort_link`, which was created from the following code:

    SELECT cohort.*, w.naics, w.wages, w.coleridge_id, w.fein, w.job_date, 'KY' AS state
    INTO tr_tn_2021.dbo.ky_cohort_link
    FROM tr_tn_2021.dbo.grads1516_dated cohort
    JOIN tr_tn_2021.dbo.ky_ui_wages_dated w
    on cohort.SSN = w.ssn 
    WHERE w.job_date >= cohort.grad_date and DATEADD(quarter, 13, cohort.grad_date) >= w.job_date and w.wages > 0;

We also performed a similar process to link to Ohio's and Missouri's wage records, and saved the results to the permanent tables `oh_wages` and `mo_wages`, respectively.

    SELECT cohort.*, oh_wages.ssn_hash, oh_wages.wages, 
    convert(datetime, concat(oh_wages.quarter*3-2, '/', '01', '/', oh_wages.year)) AS job_date, 'OH' AS state
    INTO tr_tn_2021.dbo.oh_wages 
    FROM tr_tn_2021.dbo.grads1516_dated cohort
    JOIN ds_oh_djfs.dbo.ui_wage_by_employer_olda oh_wages
    ON cohort.SSN = oh_wages.ssn_hash;
    

    SELECT tn_cohort.*, mo_wages.wage,
    convert(datetime, concat(mo_wages.quarter*3-2, '/', '01', '/', mo_wages.year)) AS job_date, 'MO' AS state
    INTO tr_tn_2021.dbo.mo_wages 
    FROM tr_tn_2021.dbo.grads1516_dated tn_cohort
    JOIN ds_mo_des.dbo.ui_wages mo_wages
    ON tn_cohort.SSN = mo_wages.ssn;

With wage information subset to only records from our cohort, we can combine the three tables in SQL using `UNION ALL`. Once combined, we can explore the resulting earnings distribution for our cohort.

In [ ]:
# combine mo, oh, and ky wage records
qry = "
SELECT SSN, CIP_Family, MajorGroups, Gender, BirthYear, grad_date, wage as wages, job_date, state
FROM tr_tn_2021.dbo.mo_wages
WHERE job_date >= grad_date and DATEADD(quarter, 13, grad_date) >= job_date and wage > 0
UNION ALL
SELECT SSN, CIP_Family, MajorGroups, Gender, BirthYear, grad_date, wages, job_date, state
FROM  tr_tn_2021.dbo.oh_wages
WHERE job_date >= grad_date and DATEADD(quarter, 13, grad_date) >= job_date and wages > 0
UNION ALL
SELECT SSN, CIP_Family, MajorGroups, Gender, BirthYear, grad_date, wages, job_date, state 
FROM tr_tn_2021.dbo.ky_cohort_link;
"
combined_wages <- dbGetQuery(con, qry)
head(combined_wages)

Let's see how many distinct `SSN` values we have.

In [ ]:
combined_wages %>%
    summarize(n=n_distinct(SSN))

Now that we have combined wage records for contiguous states together, we can extend this to include Tennessee's wage records as well. Before doing so, we need to rename the `wge_amt` variable to `wages` because we need to have common variable names when we combine the data across the 4 states. Otherwise, `rbind` will not work.

In [ ]:
# rename the wge_amt column to wages
df_wages <- df_wages %>%
    rename(wages = wge_amt)

We can also add in the `state` variable to the Tennessee wages (`df_wages`), to designate that the wage records are from Tennessee. We will also select for key variables that are in the `combined_wages` data frame that we created above.

In [ ]:
# add in state for tn wages
df_wages$state = "TN"

# select key variables
df_wages <- df_wages %>%
select(SSN, CIP_Family, MajorGroups, Gender, BirthYear, grad_date, wages, job_date, state, quarter_number)

Note that `combined_wages` does not have `quarter_number`, which tracks the quarter relative to graduation of employment. We can add it in using the same code we applied to `df_wages`.

In [ ]:
# add in quarter_number variable into combined_wages
combined_wages <- combined_wages %>%
    mutate(
        quarter_number = round(as.double(difftime(as.Date(job_date), as.Date(grad_date), units = "weeks")/13), 0)
    )

In [ ]:
# combine our two data frames 
combined_wages <- rbind(combined_wages, df_wages)

In [ ]:
# filter for first quarter
q1_combined_wages <- combined_wages %>%
    filter(quarter_number == 1)

Before looking into the earnings distribution, let's see the amount of individuals for which we have wage records in their first quarter after graduation by state.

In [ ]:
# number of individuals by state first quarter after graduation
q1_combined_wages %>%
    group_by(state) %>%
    summarize(n=n_distinct(SSN)) %>%
    arrange(desc(n))

Although we do not have many records across states, the additional information will provide more known earnings to our cohort. We can find the aggregate earnings for every individual in the cohort across these four states in their first quarter after graduation by aggregating `q1_combined_wages` by each `SSN`.

In [ ]:
# Let's see the earnings distribution after we add UI records from other states
q1_combined_agg_wages <- q1_combined_wages %>%
    group_by(SSN) %>%
    summarize(tot_wages = sum(wages)) %>%
    ungroup()

Let's see how many distinct `SSN` values are in `q1_combined_agg_wages`.

In [ ]:
# see number of distinct coleridge_id values 
n_distinct(q1_combined_agg_wages$SSN)

We can now look at how the earnings distribution has changed with the addition of wage records from contiguous states.

In [ ]:
summary(q1_combined_agg_wages$tot_wages)

As you may recall, the number of unique `SSN` values in `q1_combined_wages` is not the same number as in the original cohort. Although we combined all earnings observations for these four states, we are still missing a portion of the original cohort that did not appear in any of these states' UI wage records in their first quarter after graduation.

To allow for reasonable comparison, let's add in these individuals using another `left_join()`.

In [ ]:
# add in those present in df but not q1_combined_wages
q1_all_combined_wages <- df %>%
    left_join(q1_combined_agg_wages, 'SSN')

In [ ]:
# see number of unique coleridge_ids
n_distinct(q1_all_combined_wages$SSN)

In [ ]:
cat('By adding in UI wage records from a handful of bordering states, we have managed to find wage records for', 
   n_distinct(q1_combined_agg_wages$SSN) - n_distinct(q1_wages$SSN),
   'more people, as well as augmented earnings for some others.')

## Visualizing Earnings Distributions

We can quickly determine if these different imputation methods significantly altered the pre-imputation wage distribution by visualizing the overall earnings distribution. Plotting side-by-side boxplots can be an effective choice. To do so, we need to bind the earnings from all of these methods by rows, meaning they must have the same columns. For the sake of simplicity, we will have three columns in this data frame:

- `SSN`, the person identifier
- `tot_wages`, cumulative earnings in first quarter post-graduation
- `method`, type of imputation method

In [ ]:
# adapt q1_no_missing
q1_no_missing %>%
    select(SSN, tot_wages) %>% head()

q1_no_missing <- q1_no_missing %>%
    select(SSN, tot_wages) %>%
    mutate(method = 'remove missing')

In [ ]:
# adapt q1_reg_earnings
q1_reg_earnings%>%
    select(SSN, tot_wages) %>% head()

q1_reg_earnings <- q1_reg_earnings %>%
    select(SSN, tot_wages) %>%
    mutate(method = 'regression')

In [ ]:
# adapt q1_wages_zero
q1_wages_zero %>%
    select(SSN, tot_wages) %>% head()

q1_wages_zero <- q1_wages_zero %>%
    select(SSN, tot_wages) %>%
    mutate(method = 'zero')

In [ ]:
#adapt q1_major_gend_impute
q1_major_gend_impute %>% select(SSN, imputed_wages) %>% rename(tot_wages = imputed_wages) %>% head()

q1_major_gend_impute <- q1_major_gend_impute %>%
    select(SSN, tot_wages) %>%
    mutate(method = 'mean')

In [ ]:
# adapt to other states

q1_combined_agg_wages <- q1_combined_agg_wages %>%
    select(SSN, tot_wages) %>%
    mutate(method = "combined states")

Now that these methods all have the same column names, we can feed them into `rbind()`.

In [ ]:
# combine earnings from all methods
all_methods <- rbind(q1_major_gend_impute, q1_reg_earnings, q1_no_missing, q1_wages_zero, q1_combined_agg_wages)
max(all_methods$tot_wages, na.rm=TRUE)

Before visualizing these distributions, we will filter out extreme outliers that would affect the rest of the visualizations.

In [ ]:
# removing outliers that have a tot_wages values greater then REDACTED

all_methods <- all_methods %>% 
    filter(tot_wages < REDACTED)

# check the max value
max(all_methods$tot_wages, na.rm=TRUE)

In [ ]:
# boxplot of all methods
all_methods %>%
    ggplot(aes(x=method, y = tot_wages)) +
    geom_boxplot() + 
    labs(
        title = "The Q1 Earnings Distribution's Quartiles are moderately affected across \n imputation methods",
        x='Imputation Method',
        y='Quarter Earnings',
        caption = 'Source: TN/KY/OH/MO UI wage records data'
    ) +
    theme_minimal()

## Multiple histograms

We can also look at the differences in the earnings distribution by looking at side-by-side histograms. Instead of using the `geom_` layer `geom_boxplot()`, we will use `geom_histogram()`.

In [ ]:
all_methods %>%
    ggplot(aes(x=tot_wages)) +
    geom_histogram() + 
    facet_grid(method ~ .) +
    labs(
        title = 'Zero Imputation has a significant change on the overall earnings distribution',
        y='Number of Workers',
        x='Q1 After Graduation Wages',
        caption = 'Source: TN/KY/OH/MO UI wage records data'
    ) +
    theme_minimal()

### (Optional) Advanced: Using machine learning to impute values

To impute values, we can also use machine learning algorithms such as `K-nearest Neighbors` and `Decision Trees`. The principle behind `K-nearest Neighbors` is quite simple: the missing values can be imputed by values of "closest neighbors" - as approximated by other, known, features. 

For example, if we had cases where the data on earnings of some graduates was completely missing, we could approximate their earnings by referring to other characteristics which could be shared by major group (their 'closest neighbors' in terms of characteristics).

The algorithm calculates the distance between the input values (the missing values) and helps to identify the nearest possible value based on other features (such as known characteristics of the closest major group). Imputing missing data using machine learning has become a research hotbed, and there are plenty of papers covering the various algorithms if you are curious.

## References

Feder, Benjamin, & Barrett, Nathan. (2022, March 30). Imputation Using New Jersey Unemployment Insurance Wage Records. Zenodo. https://doi.org/10.5281/zenodo.6399344

Peugh, J. L., & Enders, C. K. (2004). Missing Data in Educational Research: A Review of Reporting Practices and Suggestions for Improvement. _Review of Educational Research_, 74(4), 525-556. doi: 10.3102/00346543074004525

Rubin, D. B. (1976). Inference and Missing Data. _Biometrika_, 63(3), 581-592. doi:10.2307/2335739